		*{
			margin: 0;
		}
		.left-main-div{
			 width: 25%;
			 height: auto;
			 float: left;
		}
		.left-second-div{
		 background: white;
		 border-radius: 7px;
		 border: 1px solid #E0E0E0;
		 width: 90%;
		 height:auto;
		 margin: 5% 5% 10%  ;
		}
		.right-main-div{
			height:auto;
		 	width:75%;
			float:right;
		}
		.main-title{
			margin:20px;
			font-family: 'YT Sans', 'Roboto', 'Arial', sans-serif;
			font-size: 25px;
			font-weight: 600;
			line-height: 32px;
		}
		.video-main-div{
			background: white;
			border-radius: 7px;
			border: 1px solid #E0E0E0;
			width: 92%;
			height: auto;
			margin: 1.5%;
			float: left;
			padding: 2%;
			overflow: hidden;
		}
		.video-main-image-tab{
			width:30%;
			float:left;
		}
		.video-main-content-tab{
			width:65%;
			float:left;
			margin: 0 0 0 4%;
		}
		.video-main-image{
			width: 100%;
			margin:25px 0 0 0  ;
		}
		.video-image-sub-text{
			margin: 10px 0 0;
			color: #A1A1A1;
			font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
			font-size: 10px;
			text-align: right;
		}
		.video-main-heading{
		font-family: Tahoma, Geneva, sans-serif;
		font-size: 20px;
		margin: 20px 0;
		}
		.video-sub-text{
		margin: 20px 0;
		color: #A1A1A1;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		}
	.video-main-button{
			background-color: white ;
		   border:  1px solid #559EFF;
		   color: #559EFF;
		   padding: 7px 15px;
		   font-size: 15px;
		   transition: 0.3s;
			 margin: 0px 20px 10px 0px;
			 font-weight: bold;
			 font-family: 'Nunito', sans-serif;
			 border-radius: 4px;
			 cursor: pointer;
		 }
	.video-main-button:hover {
		background: rgba(85, 158, 255,0.1)
		 }
	.iweb-main-button{
	 		background-color: white ;
	 	   border:  1px solid #559EFF;
	 	   color: #559EFF;
	 	   padding: 7px 15px;
	 	   font-size: 15px;
	 	   transition: 0.3s;
	 		 font-weight: bold;
	 		 font-family: 'Nunito', sans-serif;
	 		 border-radius: 4px;
	 		 cursor: pointer;
	 	 }
	.iweb-main-button:hover {
	 	background: rgba(85, 158, 255,0.1);
	 	 }

	.iweb-second-button{
		background-color: #559EFF ;
		 border:  1px solid #559EFF;
		 color: white;
		 padding: 7px 15px;
		 font-size: 15px;
		 transition: 0.3s;
		 font-weight: bold;
		 font-family: 'Nunito', sans-serif;
		 border-radius: 4px;
		 cursor: pointer;
	}
	.iweb-second-button:hover {
		background: rgba(85, 158, 255,0.8);
		border:  1px solid  rgba(85, 158, 255,0.8);
		 }
		 .src-input{
			 	width: 85%;
			 	height: 40px;
			 	background: #fff;
			 	border-radius: 7px;
		  	border: 1px solid #E0E0E0;
				margin: 0px 5% 10px;
		 }

		 input{
			 padding-left: 12px;
		 }
		 #myDIV {
			 width: 90%;
			 padding: 5px 0;
			 text-align: ;
			 background-color: none;
			 margin:0 5%;
			 display:block;
		 }
		 #myInput {
			 width: 100%;
			 font-size: 16px;
			 padding: 12px 20px 12px ;
			 border: 1px solid #ddd;
			 margin-bottom: 7px;
		 }
		 #my-inp {
			 max-width: 40%;
		 }
		 #myUL {
			 list-style-type: none;
			 padding: 0;
			 margin: 0;
			 width:100%;
		 }
		 #myUL li a {
			 margin-top: -1px;
			 padding: 12px;
			 text-decoration: none;
			 font-size: 15px;
			 color: #757575;
			 display: block;
			 transition: .5s color;
		 }
		 #myUL li a:hover:not(.header) {
			 background-color: #eee
			 width:100%;
		 }
		 #myUL li a:hover{
			 color: #559EFF;
		 }
		 .src-list{
			 width:100%;
			 font-family: 'Nunito', sans-serif;
			 font-size:13px;
			 font-weight: 400;
			 border-bottom-style: solid;
			 border-bottom-color: #E0E0E0;
			 border-bottom-width: 1px;
		 }
	/* hide left div when 1024px browser width */
	@media screen and (max-width: 1023px) {
			.left-main-div{
				display: none;
			}
			.right-main-div{
				width:100%;
			}
	}
		 /*====== Nav Bar Styles =======*/
		 .topnav {
			 overflow: hidden;
			 background-color: #fff;
			 box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.12);
			 position: fixed;
			 width: 100%;
			 padding: 7px;
		 }
		 .topnav a {
			 font-family: 'Roboto', 'Noto', sans-serif;
			 font-weight: 600;
			 float: left;
			 display: block;
			 color: #757575;
			 text-align: center;
			 padding: 14px 16px;
			 text-decoration: none;
			 font-size: 20px;
		 }
		 .logo {
		 }
		 .topnav .icon {
			 display: none;
		 }
		 .dropdown {
			 float: left;
			 overflow: hidden;
		 }
		 .dropdown .dropbtn {
			 font-size: 17px;
			 border: none;
			 outline: none;
			 color: #757575;
			 padding: 14px 16px;
			 background-color: inherit;
			 font-family: inherit;
			 margin: 0;
		 }
		 .dropdown-content {
			 display: none;
			 position: absolute;
			 background-color: #f9f9f9;
			 min-width: 160px;
			 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			 z-index: 1;
		 }
		 .dropdown-content a {
			 float: none;
			 color: black;
			 padding: 12px 16px;
			 text-decoration: none;
			 display: block;
			 text-align: left;
		 }
		 .topnav a:hover, .dropdown:hover .dropbtn {
			 background-color: ;
			 color: #559EFF;
		 }
		 .dropdown-content a:hover {
			 background-color: #ddd;
			 color: black;
		 }
		 .dropdown:hover .dropdown-content {
			 display: block;
		 }
		 @media screen and (max-width: 600px) {
			 .topnav a:not(:first-child), .dropdown .dropbtn {
				 display: none;
			 }
			 .topnav a.icon {
				 float: right;
				 display: block;
			 }
		 }

		 @media screen and (max-width: 600px) {
			 .topnav.responsive {position: relative;}
			 .topnav.responsive .icon {
				 position: absolute;
				 right: 0;
				 top: 0;
			 }
			 .topnav.responsive a {
				 float: none;
				 display: block;
				 text-align: left;
			 }
			 .topnav.responsive .dropdown {float: none;}
			 .topnav.responsive .dropdown-content {position: relative;}
			 .topnav.responsive .dropdown .dropbtn {
				 display: block;
				 width: 100%;
				 text-align: left;
			 }
			 						/* responsive */
			 .main-title{
				 text-align: center;
				 margin: 10px;
				 font-size: 20px;
			 }
			 .video-main-div{
				 width: 83%;
				 margin: 3%;
				 padding: 5%;
				 text-align: center;
				 box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.12);
				 border:  0px solid #559EFF;
			 }
			 .video-main-image-tab{
				 width:100%;
			 }
			 .video-main-content-tab{
				 width:100%;
				 float:left;
				 margin: 0 ;
			 }
			 .video-main-image{
				 width: 100%;
				 margin: 10px 0 0 0
			 }
			 .video-main-button{
			 		 margin: 5px;
			 }
				.video-main-heading{
			 	font-size: 15px;
			 	}
			 	.video-sub-text{
					font-size: 11px;
			 	}
				.video-main-button{
					   padding: 7px 15px;
					   font-size: 12px;
						 margin: 0px 7px 12px ;
		 		 }


	@media screen and (max-width: 320px) {

		body{
			width: 320px;
		}
	}
